@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;


.btn{
    position: relative;
    overflow: hidden;
    display: inline-block;
    outline:none;
    border:none;
    text-transform: capitalize;
    font-size:rem(20);
    line-height: 1;
    padding:em(16) em(32);
    color:$clr-white;
    font-family: $ff-tertiary;
    @include border-radius(8px);
    @include transition(all, 0.35s, ease-out);
 
    // @include breakpoint-md{
    //     font-size: rem(18);
    // }
    @include breakpoint-xl{
        font-size: rem(24);
    }
    span{
        color:$clr-white;
    }
    &:hover{
        cursor: pointer;
    }
}

.btn-wrapper{
    display: flex;
    position: relative;
    overflow: hidden;
}

.btn--primary{
    background: $clr-secondary;
    @include flex-center-horizontal;
    @include flex-center;
    gap:16px;
 
}

// .btn--secondary{
//     position: relative;
//     background:$clr-secondary;
//     color:$clr-primary;
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     gap:10px;
//     font-family: $ff-secondary;
//     font-weight: 500;
//     text-transform: uppercase;
//     span{
//         display: flex;
//         &:last-child{
//             margin: 0;
//             transition:transform 0.3s ease;
//         }
//     }
// }


.btn--outline{
    border: 2px solid $clr-grey-1;
    background-color: $clr-white;
    span{
        color:$clr-black;
    }
}


.btn--transparent{
    background:transparent;
    @include flex-center-vertical;
    text-transform: uppercase;
    gap:rem(8);
    padding: 0;
    font-size: 24px;
    span{
        color:$clr-secondary;
        transition:color 0.35s ease;
    }
    svg{
        path{
            transition:color 0.35s ease;
        }
    }

    &:hover{
        span{
            color:$clr-primary;
        }
        svg{
            path{
                fill:$clr-white;
            }
        }
    }
}

.btn-transprnt{
    span{
        font-family: $ff-primary;
    }

    &:hover{
        svg{
            path{
                fill:$clr-primary;
            }
        }
    }
}


.navigation-btn{
    @include flex-center;
    border: 1px solid  $clr-black;
    background-color: $clr-quaternary;
    &:hover{
        background-color: $clr-secondary;
        svg{
            path{
                fill:$clr-white;
            }
        }
    }
}


.play-button-wrapper{
    @include center-div;
    .play-button{
        @include flex-center;
        @include dimensions(rem(80), rem(80));
        @include border-radius(50%);
        background: $clr-secondary;
        opacity: 0.65;
        transition:opacity 0.35s ease;

        @include breakpoint-md{
            @include dimensions(rem(96), rem(96));
        }
        @include breakpoint-lg{
            @include dimensions(rem(112), rem(112));
        }
        @include breakpoint-xxl{
            @include dimensions(rem(128), rem(128));
        }
        &:hover{
            cursor: pointer;
            opacity: 1;
        }
    }
}