@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;


.btn{
    position: relative;
    overflow: hidden;
    display: inline-block;
    outline:none;
    border:none;
    text-transform: capitalize;
    font-size:rem(16);
    padding:em(16) em(32);
    color:$clr-white;
    font-family: $ff-tertiary;
    @include border-radius(7px);
    @include transition(all, 0.35s, ease-out);
 
    @include breakpoint-md{
        font-size: rem(18);
    }
    @include breakpoint-xl{
        font-size: rem(20);
    }
    @include breakpoint-xxl{
        font-size: rem(24);
    }
    span{
        color:$clr-white;
    }
    &:hover{
        cursor: pointer;
    }
}

.btn-wrapper{
    display: flex;
}


.btn--primary{
    background: $clr-secondary;
    // @include flex-center;
    @include flex-center-horizontal;
    gap:16px;
 
}

// .btn--secondary{
//     position: relative;
//     background:$clr-secondary;
//     color:$clr-primary;
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     gap:10px;
//     font-family: $ff-secondary;
//     font-weight: 500;
//     text-transform: uppercase;
//     span{
//         display: flex;
//         &:last-child{
//             margin: 0;
//             transition:transform 0.3s ease;
//         }
//     }
// }


// .btn--tertiary{
//     background:$clr-white;
//     color:$clr-secondary;
// }


.btn--outline{
    border: 2px solid $clr-grey-1;
    background-color: $clr-white;
    span{
        color:$clr-black;
    }
}


.btn--transparent{
    background:transparent;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap:rem(8);
    padding: 0;
    span{
        color:$clr-secondary;
        transition:color 0.35s ease;
    }
    svg{
        path{
            transition:color 0.35s ease;
        }
    }


    &:hover{
        span{
            color:$clr-primary;
        }
        svg{
            path{
                fill:$clr-white;
            }
        }
    }
}

.btn-transprnt{
    span{
        font-family: $ff-primary;
    }
}




// .chevron-btn-wrapper{
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;
//     gap: 1rem;

//     button{
//         outline: none;
//         border:none;
//         background: transparent;
//         &:first-child{
//             transform: rotate(-180deg);
//         }
//         &:hover{
//             cursor: pointer;
//         }
//     }
// }

// .swiper-btn-next,
// .swiper-btn-prev{
//    svg{
//     transition:all 0.35s ease;
//    }
//     &:hover{
//         svg{
//             circle{
//                 fill:$clr-primary;
//             }
//             path{
//                 fill:$clr-secondary;
//             }
//         }
//     }
// }