@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;


// ===== Accordion ======
.accordion{
    &__container{
        display: flex;
        padding-block: em(32);
        gap:6px;
        @include breakpoint-sm{
            padding-block: em(36);
            gap:10px;
        }
        @include breakpoint-md{
            padding-block: em(36);
            gap:16px;
        }
    }
    &__title{
        position: relative;
        text-transform: uppercase;
        display: flex;
        gap:rem(16);
        @include transition(all, 0.25s, ease);
        &::after{
            // content: url("../../../assets/icons/plus.svg");
            content: "+";
            color:$clr-secondary;
            flex-shrink: 0;
            position: absolute;
            right: 0;
            transition:all 0.25s ease;
            // transform: translateY(0px);
        }
    }
    &__title-wrapper{
        @include relative-hidden;
        text-align:left;
        &:hover{
            cursor: pointer;
            .accordion__title{
                color: $clr-secondary;
            }
        }
    }

    &__content{
        padding-right: em(20);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.35s ease;
        max-width: min(100%, 76ch);
        text-align: left;
    }
}


.accordion__title-wrapper.active{
    .accordion__title{
        color: $clr-secondary;
        &::after{
            // content: url("../../../assets/icons/minus.svg");
            content:"-";
            // transform: translateY(-6px);
        }
    }
}