@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;


.form{
    &__group{
        margin-bottom: rem(16);
        position: relative;
    }
    &__control{
        width: 100%;
        background: $clr-white;
        border:none;
        outline:1px solid $clr-primary;
        padding: em(16);
        color:$clr-primary;
        font-size: rem(16);
        font-weight: 600;
        line-height: 2;
        font-family: $ff-secondary;
        @include border-radius(4px);
        @include breakpoint-md{
            padding: em(16) em(20);
        }
        &:focus, &:hover{
            outline-color: $clr-secondary;  
        }
    }
}


.form-group-wrapper{
    @include flex-center-vertical;
    padding:8px;
    @include border-radius(8px);
    background: $clr-white;
    .form__control{
        outline: none;
        padding-block:0;
    }
}


.footer-form-control:focus + label,
.footer-form-control:valid + label{
    top: -1px;
    font-size: rem(14);
}

.footer-form-control:focus + label{
    color:$clr-secondary;
}


// .border-after{
//     content: "";
//     position: absolute;
//     left: 0;
//     width: 0;
//     height: 1px;
//     bottom: -1px;
//     z-index: 1;
//     background-color: $clr-secondary;
//     transition: width 0.5s ease-out;
// }




// ========== Custom Select Start==============
.custom-select-wrapper {
    position: relative;
}

.custom-select {
    position: relative;
    @include flex-cloumn;
}

.custom-select-trigger {
    position: relative;
    @include flex-space-between;
    gap:10px;
    cursor: pointer;

    .arrow {
        @include dimensions(rem(10),rem(10));
        border-left: 2px solid $clr-grey-1;
        border-bottom: 2px solid $clr-grey-1;
        transform: translateY(-1px) rotate(-45deg);
        @include transition(transform, 0.35s , ease);
        transform-origin: center;
    }
}

.custom-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $clr-white;
    border: 1px solid #ddd;
    border-top: none;
    max-height: 200px;
    width: 180px;
    overflow-y: auto;
    z-index: 1;
    @include border-radius(4px);
    margin-left: -65px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    margin-top: 4px;
    display: none;
    flex-direction: column;
    @include breakpoint-xxl{
        margin-left: -55px;
    }

    span{
        margin-top: 0;
    }
}

.custom-option {
    padding: 10px;
    transition: background-color 0.3s;
    @include border-radius(4px);
    &:hover, .selected{
        cursor: pointer;
        color:$clr-white;
        background-color: $clr-secondary;
    }
}

.custom-select-wrapper.open{
    .arrow {
        transform: translateY(0px) rotate(140deg);
    }
    .custom-options {
        display: flex;
    }
}

// ========== Custom Select End==============





// ======================================
.radio-input .label input[type="radio"] {
    background-color: #202030;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .radio-input .label input[type="radio"]:checked {
    background-color: #435dd8;
    -webkit-animation: puls 0.7s forwards;
    animation: pulse 0.7s forwards;
  }
  
  .radio-input .label input[type="radio"]:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #fff;
    transform: scale(0);
  }
  
  .radio-input .label input[type="radio"]:checked::before {
    transform: scale(1);
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
      box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }