@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;


.nav{
    &__menu{
        @include flex-center-vertical;
        @include breakpoint-lg{
            gap:rem(16);
        }
        @include breakpoint-xl{
            gap:rem(32);
        }
    }

    &__link{
        @include relative-hidden;
        display: inline-flex;
        align-items: center;
        font-size: rem(18);
        line-height: 1;
        font-family: $ff-tertiary;
        @include breakpoint-xl{
            font-size: rem(20);
        }
        span{
            color:$clr-black;
            display: inline-flex;
            margin: 0;
            transition: transform 0.3s ease;
        }

        &.active,
        &:hover{
            span{
                color:$clr-secondary; 
            }
        }
    }
}


// ===== MObile Menu Start ===========
.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: $clr-primary;
    transform:translateX(-100%);
    transition:transform 0.2s ease-out;
    @include breakpoint-lg{
        transform:translateX(-100%) !important;
    }
    &__inner{
        display: flex;
    }
    &__list{
        li{
            @include relative-hidden;
        }  
    }
    &__link{
        @include relative-hidden;
        color:$clr-white;
        text-transform: uppercase;
        font-size: rem(32);
        line-height: 2;
        font-family: $ff-tertiary;
        display: inline-flex;
        align-items: center;
        @include breakpoint-md{
            font-size: rem(36);
        }
        span{
            color:$clr-white;
            display: inline-flex;
            margin: 0;
            transition: transform .3s ease;
        }

        &:hover{
            span{
                color:$clr-secondary;
            }
        }
    }
}

// ===== MObile Menu End ===========


// ===== Close-Menu-Button Start ===========
.close-menu-btn{
    position: absolute;
    right: 22px;
    top: 22px;
    &:hover{
        cursor: pointer;
        svg path{
            fill:$clr-secondary;
        }
    }
}
// ===== Close-Menu-Button Start ===========


// ===== SubMenu Start ===========
.subMenu{
    @include relative-hidden;
    &__list{
        position: absolute;
        background: $clr-primary;
        background: $clr-white;
        width: 240px;
        @include border-radius(4px);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        transform: translateY(10px);
        transition:transform 0.2s ease;
        list-style: none;

        li{
            @include relative-hidden;
            padding:0.8em 1em;
            @include border-radius(4px);
            white-space: nowrap;
            ul{
                display: none;
                list-style: none;
                position: absolute;
                left: 100%;
                top: 0;
                background-color: $clr-primary;  
            }

            &:hover{
                cursor: pointer;
                background:$clr-secondary;
                a{
                    color:$clr-white;
                }
                ul{
                    display: inherit;
                }
            }
        }

        &--mobile{
            max-width: 300px;
            margin-left: 16px;
            @include border-radius(4px);
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;

            li{
                display: flex;
                padding: 0.8em 1em;
                @include border-radius(4px);
                .subMenu__link{
                    transform:translateY(0);
                    color:$clr-white;
                    font-size: rem(22);
                    font-family: $ff-tertiary;
                }
                &:hover{
                    background-color: $clr-secondary;
                    .subMenu__link{
                        color:$clr-white;
                    }
                }
            }
        }
    }

    &__link{
        $n:10;
        display: inline-block;
        color:$clr-black;
        font-size: rem(18);
        line-height: 1.15;
        font-family: $ff-tertiary;
        transform: translateY(50px);
        transition: transform .2s ease;
        transition-duration: 0.5s;
        text-transform: uppercase;
        width: 100%;

        @for $i from 1 through $n {
            &:nth-of-type(#{$i}) {
              transition-delay: 0.1s * $i;
            }
        } 
    }

    &:hover{
        cursor: pointer;
        overflow: visible;

        .subMenu__list,  
        .subMenu__link{
            transform: translateY(0px);
        }

        .nav__link{
            span{
                color:$clr-secondary;
            }
            .caret-down-icon{
                svg{
                    transform: rotate(180deg);
                    transform-origin: center;
                    path{
                        fill:$clr-secondary;
                    }
                }
            }
        }
    }
}


.mobile-submenu{
    &.active{
        .dropdown-icon{
            svg{
                transform: rotate(182deg) translateY(-2px);
                transform-origin: center;
                path{
                    fill:$clr-secondary;
                }
            }
        }
        .mobile-menu__link{
            span{
                color:$clr-secondary;
            }
        }
    }
}
// ===== SubMenu End ===========


.caret-down-icon{
    svg{
        transform: rotate(0deg);
        transition:transform 0.3s ease;
        path{
            fill:$clr-black;
        }
    }
}