@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;



.swiper-testmonials {
    overflow: hidden;
    position: relative;
    margin:0 auto;
    width: 100%;
    padding-top:em(48);

    @include breakpoint-xl{
        width: 80%;
    }

    .swiper-slide {
        position: relative;
        transform: scale(0.9) !important;
        background-color: $clr-light-blue;
        padding: em(45) em(32);
        @include border-radius(12px);

        @include breakpoint-md{
            padding-inline: em(48);
        }
        @include breakpoint-md{
            padding-inline: em(60);
        }

        .quote-figure{
            position: absolute;
            top: -24px;
            left: 0;
        }
    }
}

.swiper-testmonials .swiper-slide-active {
    transform: scale(1) !important;
    background-color: $clr-primary;
    .testimonial__content,
    .testimonial__name{
        color:$clr-white;
    }

    .quote-figure{
        svg {
            path{
                fill:$clr-tertiary;
            }
        }
    }
}


.swiper-button-testmonials-next,
.swiper-button-testmonials-prev {
    cursor: pointer;
}


.navigation-testmonials {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content:flex-end;
    gap: 10px;

    button{
        @include dimensions(rem(48), rem(48));
        @include border-radius(50%);
        @include flex-center;
        border:1px solid $clr-black;
        background: $clr-quaternary;
        svg{
            @include dimensions(rem(32), rem(32));
            @include breakpoint-md{
                @include dimensions(rem(48), rem(48));
            }
            path{
                fill:$clr-black;
            }
        }
        &:hover{
            background-color: $clr-secondary;
            border-color: $clr-secondary;
            svg{
                path{
                    fill:$clr-white;
                }
            }
        }
    }
}
