@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.footer{
    &__link-title, &__link{
        color:$clr-white;
    }
    &__link-title{
        color:$clr-white;
        line-height: 2.17;
        text-transform: uppercase;
        font-size: 24px;
    }
    &__link{
        position: relative;
        overflow: hidden;
        font-size: rem(16);
        font-weight: 400;
        line-height: 2.3;
        font-family: $ff-secondary;
        
        address{
            @extend .footer__link;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            left: 0;
            background-color: $clr-secondary;
            height: 2px;
            bottom: -5px;
            transform-origin: 100% 50%;
            transform: scaleX(0);
            transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
        }

        &:hover{
            color:$clr-secondary;
            &::before {
                transform-origin: 0% 50%;
                transform: scaleX(1);
            }
        }
    }
    &__bottom-right-wrapper{
        @include flex-center-vertical;
        gap:16px;

        small{
            color:$clr-white;
            margin-top: 0;
        }
    }

    &__socials-list{
        @include flex-center-vertical;
        gap:rem(20); 
        margin-top: -7px;
    }

}

.socials-list{
    display: flex;
    align-items: center;
    gap:10px;
}

.socials-item{
    position: relative;
    overflow: hidden;
}

.socials-link{
    position: relative;
    overflow: hidden;
    padding:em(10);
    @include border-radius(50%);
    @include flex-center; 
    transition:all 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    z-index: 1;
    span{
        display: flex;
    }
    &::before{
        content:"";
        position: absolute;
        @include full-dimensions;
        background: $clr-secondary;
        clip-path: circle(0% at 0 100%);
        transition:clip-path 0.3s cubic-bezier(0.76, 0, 0.24, 1);
        z-index: -1;
    }

    &:hover{
        cursor: pointer;
        &::before{
            clip-path: circle(141.2% at 0 100%);
        }
        svg {
            path{
                fill:$clr-white;
            }
        }
    } 

}

.copyright-text-wrapper{
    position: relative;
    overflow: hidden;
    text-align: right;
    small{
        margin-top: 0;
        color:$clr-white;
        display: inline-flex;
    }
}


.payment-brands-list{
    list-style: none;
    @include flex-center-vertical;
    justify-content: flex-end;
    gap:16px;

    img{
        &:hover{
            cursor: pointer;
        }
    }
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(64);

    @include breakpoint-sm{
        grid-template-columns: repeat(3, 1fr);
        row-gap: rem(64);
    }
    @include breakpoint-xxl{
        row-gap: rem(80);
        grid-template-columns: repeat(5, 1fr);
    }

}
