@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;

// ================================
.header{
    position: fixed; 
    z-index: 9;
    top:0;
    left: 0;
    width: 100%;
    transform:translateY(0);
    // transition: transform 0.3s ease;
}

// ================================
.header{
    &__inner-desktop{
        position: relative;
        @include flex-center-vertical;
        justify-content: space-between;
        padding:em(20) em(48);
        background: $clr-white;
        @include border-radius(9px);
        margin-top: 42px;
        display: none;
        transition: transform 0.25s ease;
        @include breakpoint-lg{
            display: flex;
        }
    }
    &__inner-mobile{
        @include flex-space-between;
        background: $clr-primary;
        @include border-radius(12px);
        margin: rem(16);
        margin-top: rem(32); margin-top: rem(32);
        padding: em(16);
        transition:all 0.35s ease;

        @include breakpoint-lg{
            display: none;
        }
    }
    &__right{
        @include flex-center-vertical;
        gap:rem(32);
    }
}
// ================================
.header-desktop{
    transition:all 0.25s ease;
}

// ================================
.header-desktop.sticky{
    .header__inner-desktop{
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
    }
}

// ================================
.action-btns-wrapper{
    @include flex-center-vertical;
    gap:rem(24);

    .action-btn{
        position: relative;
        transform:scale(1);
        transition:transform 0.35s ease;
        .count{
            position: absolute;
            right: -10px;
            bottom: 10px;
            font-size: rem(10);
            background-color: $clr-secondary;
            color: $clr-white;
            @include flex-center;
            @include border-radius(50%);
            @include dimensions(rem(20), rem(20));
            
        }
        &:hover{
            transform:scale(1.025);
            // svg{
            //     path{
            //         fill:$clr-secondary;
            //     }
            // }
        }
    }
}





// ========== hamburger =============
.hamburger-wrapper{
    cursor: pointer;
}