@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;

// ================================
.header{
    position: fixed; 
    z-index: 10;
    top:0;
    left: 0;
    width: 100%;
    transform:translateY(0);
}

// ================================
.header{
    &__inner-desktop{
        position: relative;
        @include flex-center-vertical;
        justify-content: space-between;
        padding:em(20) em(48);
        background: $clr-white;
        @include border-radius(8px);
        margin-top: 32px;
        transition: transform 0.25s ease;
        display: none;
        @include breakpoint-lg{
            display: flex;
        }
    }
    &__right,
    &__mobile-left{
        @include flex-center-vertical;
        gap:rem(14);
        @include breakpoint-md{
            gap:rem(16);
        }
        // @include breakpoint-xxl{
        //     gap:rem(32);
        // }
        @media only screen and (min-width:1600px){
            gap:rem(32);
        }
    }

    &__mobile{
        @extend .header__inner-desktop;
        display: flex;
        padding:em(16);
        margin-top: 16px;
        @include breakpoint-lg{
            display: none;
        }
    }
}


// ================================
.header-desktop{
    transition:all 0.25s ease;
}

// ================================
.header-desktop.sticky{
    .header__inner-desktop,
    .header__mobile{
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
    }
}

// ================================
.action-btns-wrapper{
    @include flex-center-vertical;
    gap:rem(24);

    .action-btn{
        position: relative;
        transform:scale(1);
        transition:transform 0.35s ease;
        .count{
            position: absolute;
            right: -10px;
            bottom: 10px;
            font-size: rem(10);
            background-color: $clr-secondary;
            color: $clr-white;
            @include flex-center;
            @include border-radius(50%);
            @include dimensions(rem(20), rem(20));
        }
        &:hover{
            transform:scale(1.025);
        }
    }
}


// ========== hamburger =============
.hamburger-wrapper{
    cursor: pointer;
}


// Filter Header
.filter-header{
    position: fixed;
    bottom: -2px;
    width: 100%;
    background: $clr-primary;
    z-index:9;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding-block: 1em;
    box-shadow: 0 2px 5px rgba(255, 255, 255, .5);

    .filter-option,
    .sort-wrapper{
        @include flex-center-vertical;
        gap:8px;

        p{
            color:$clr-white;
            font-size: 16px;
            line-height: 1.75;
        }
    }
    .sort-wrapper{
        justify-content: flex-end;
        gap:4px;
    }
}


// Search Container
// .header-search-container{
//     position: absolute;
//     width: 100%;
//     left: 0;
//     top: 16.5%;
//     z-index: 10;
//     display: flex;
//     justify-content: center;
  
//     .form-wrapper{
//         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
//     }
// }