@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;

// ================================
.header{
    position: fixed; 
    z-index: 9;
    top:0;
    left: 0;
    width: 100%;
    transform:translateY(0);
}

// ================================
.header{
    &__inner-desktop{
        position: relative;
        @include flex-center-vertical;
        justify-content: space-between;
        padding:em(10) em(48);
        background: $clr-white;
        @include border-radius(8px);
        margin-top: 32px;
        transition: transform 0.25s ease;
        display: none;
        @include breakpoint-lg{
            display: flex;
        }
    }
    &__right,
    &__mobile-left{
        @include flex-center-vertical;
        gap:rem(14);
        @include breakpoint-md{
            gap:rem(16);
        }
        @media only screen and (min-width:1600px){
            gap:rem(32);
        }
    }

    &__mobile{
        @extend .header__inner-desktop;
        display: flex;
        padding:em(16);
        margin-top: 16px;
        @include breakpoint-lg{
            display: none;
        }
    }
}


// ================================
.header-desktop{
    transition:all 0.25s ease;
}

// ================================
.header-desktop.sticky{
    .header__inner-desktop,
    .header__mobile{
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
    }
}

// ================================
.action-btns-wrapper{
    @include flex-center-vertical;
    gap:rem(24);

    .action-btn{
        position: relative;
        transform:scale(1);
        transition:transform 0.35s ease;
        .count{
            position: absolute;
            right: -10px;
            bottom: 10px;
            font-size: rem(10);
            background-color: $clr-secondary;
            color: $clr-white;
            @include flex-center;
            @include border-radius(50%);
            @include dimensions(rem(20), rem(20));
        }
        &:hover{
            transform:scale(1.025);
        }
    }
}


// ========== hamburger =============
.hamburger-wrapper{
    cursor: pointer;
}




// Search Container
.header-search-container{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
    opacity: 0;
    visibility: hidden;
    justify-content: center;
    background: rgba(0, 0, 0, 0.75);

    .header-search-wrapper{
        position: relative;
        margin-top: 12rem;
        width: min(94%, 600px);
    }

    &.is-open{
        display: flex;
        opacity: 1;
        visibility: visible;
    }
}

#close-form-btn{
    position: absolute;
    right: 0;
    top: 0;
 }