@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.cta-item {
 
    .cta-link{
        display: inline-flex;
        align-items: center;
        gap:24px;
        @include breakpoint-md{
            gap:32px;
        }

        .cta-icon-box{
            @include dimensions(rem(48), rem(48));
            @include border-radius(4px);
            @include flex-center;
            padding: em(16);
            background-color: $clr-secondary;
            @include breakpoint-md{
                @include dimensions(rem(54), rem(54));
            }
        }

        .cta-link-text{
            font-size: rem(24);
            font-weight: 900;
            font-family: $ff-primary;
            line-height: 1.63;
            text-transform: uppercase;
            text-decoration: underline;
            @include link-hover-effect();

            @include breakpoint-md{
                font-size: rem(28);
            }
            @include breakpoint-xl{
                font-size: rem(32);
            }

            &:hover{
                background-position: 0 0;
                text-decoration-color:$clr-secondary;
                -moz-text-decoration-color:$clr-secondary;
            }
        }

        .cta-address{
            text-decoration: none;
            line-height: 1;
        }
    }
}

.view-on-map-link{
    font-size: rem(16);
    line-height: 1.75;
    font-weight: normal;
    text-decoration: underline;
    text-decoration-color:$clr-secondary;
    font-family: $ff-secondary;
    margin-left: 85px;
    @include link-hover-effect($clr-secondary, $clr-black);
    &:hover{
        cursor: pointer;
        background-position: 0 0;
        text-decoration-color:$clr-black;
    }
}
