@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;

.main{
    overflow: hidden;
}

.section-title{
    text-transform: uppercase;

    &--white{
        color:$clr-white;
    }
}

// ================================
.hero{
    &--home{
        background: $clr-primary;
    }
    &__title{
        color:$clr-white;
    }
    &__subTitle{
        color:$clr-white;
    }

}

// ================================
.product{
    &__card-image{
        @include border-radius(12px);
        border: solid 1px #000;
        background: $clr-quaternary;
        height: 370px;
        @include flex-center;

        @include breakpoint-md{
            padding-block: em(48);
        }
        @include breakpoint-lg{
            padding-block: em(64);
        }
        img{
            mix-blend-mode: darken;
        }
    }
    &__card-footer{
        text-align: center;
    }
    &__rating{
        position: relative;
        overflow: hidden;
        margin-top: 8px;
        img{
            margin:0 auto;
            text-align: center;
        }
    }
    &__price{
        margin-top: 12px;
    }
}

// ================================
.dog-pregnancy{
    position: relative;
    &__title{
        position: relative;
        color:$clr-white;
        text-transform: uppercase;
        &::after{
            content: url("/assets/icons/heart.svg");
            margin-left: 10px;
        }
    }
    &__top-section{
        background-image: url("/assets/images/mobile/home/dog-pregnancy-banner-img.webp");
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center;
        position: relative;
        bottom: -20px;
        z-index: 1;

        @include breakpoint-md{
            background-image: url("/assets/images/home/dog-pregnancy-banner-img.webp");
        }
    }

    &__bottom-section{
        background: $clr-primary;
        height: rem(900);
        overflow: hidden;

        @include breakpoint-md{
            height: rem(965);
        }

        .dog-pregnancy__title{
            color:$clr-white;
            line-height: 0.88;
            position: relative;
            &::before{
                content: url("/assets/icons/stars.svg");
                position: absolute;
                left: 0;
                top:0;
                margin-left: -62px;
                margin-top: -96px;
                @include breakpoint-lg{
                    margin-left: 0;
                    margin-top: -80px;
                }
            }
            &::after{
                content: url("/assets/icons/paws.svg");
                position: absolute;
                top: 0;
                margin-left: -80px;
                margin-top: -116px;
                @include breakpoint-lg{
                    margin-top: -80px;
                }
            }
        }

        .dog-pregnancy__subTitle{
            color:$clr-white;
            max-width: 60ch;
            margin-inline:auto;
        }
    }

    .team-container{
        position: relative;
        margin-top: -320px;
    }
}

// ================================
.feedback{
    background: $clr-light-blue;
    &__right-container{
        display: flex;
        align-items: center;
    }
    &__footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__footer-inner{
        display: flex;
        align-items: center;
        gap:rem(28);
    }
}

// ================================
.testimonial{
    &__title{
        text-transform: uppercase;
        margin-top: 12px;
    }
}

// ================================
.follow-us{
    &__title{
        text-transform: uppercase;
    }
}

// ================================
.post-wrapper{
    @include flex-center-vertical;
}

// ================================
.video{
    &__container{
        position: relative;
    }
}

// ================================
.cta-title{
    color:$clr-white;
    text-transform: uppercase;
}


// ABout

.team-values {
    background: $clr-primary;
    &__card{
        h4{
            text-transform: uppercase;
        }
        p{
            @include breakpoint-md{
                padding-inline:2em; 
            }
            @include breakpoint-lg{
                padding-inline:4em; 
            }
        }
        h4, p{
            color:$clr-white;
        }
        figure{
            img{
                margin:0 auto;
                text-align: center;
            }
        }
    }
}