@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;

.main{
    overflow: hidden;
}

.section-title{
    text-transform: uppercase;

    &--white{
        color:$clr-white;
    }
}

// ================================
.hero{
    &__title{
        color:$clr-white;

        &--about{
            position: relative;
            &::before{
                content: url("/assets/icons/stars.svg");
                position: absolute;
                left: 0;
                margin-left: -32px;
            }
            &::after{
                content: url("/assets/icons/paws.svg");
                position: absolute;
                top: 0;
                margin-left: -80px;
                margin-top: -116px;
                @include breakpoint-lg{
                    margin-left: -16px;
                    margin-top: -16px;
                }
            }

            &::before, 
            &::after{
                display: none;
                @include breakpoint-md{
                    display: inline-flex;
                }
            }
        }
    }
    &__subTitle{
        color:$clr-white;
    }

    &--home{
        background: $clr-primary;
    }

}

// ================================
.product{
    &__card-image{
        @include border-radius(12px);
        border: solid 1px #000;
        background: $clr-quaternary;
        height: 370px;
        @include transition(all, 0.35s, ease);
        @include flex-center;

        @include breakpoint-md{
            padding-block: em(48);
        }
        @include breakpoint-lg{
            padding-block: em(64);
        }
        img{
            mix-blend-mode: darken;
        }
        &:hover{
            border-color:$clr-tertiary;
        }
    }
    &__card-footer{
        text-align: center;
    }
    &__rating{
        position: relative;
        overflow: hidden;
        margin-top: 8px;
        img{
            margin:0 auto;
            text-align: center;
        }
    }
    &__price{
        margin-top: 12px;
    }
}

// ================================
.dog-pregnancy{
    position: relative;
    &__title{
        position: relative;
        color:$clr-white;
        text-transform: uppercase;
        &::after{
            content: url("/assets/icons/heart.svg");
            margin-left: 10px;
        }
    }
    &__top-section{
        background-image: url("/assets/images/mobile/home/dog-pregnancy-banner-img.webp");
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center;
        position: relative;
        bottom: -20px;
        z-index: 1;

        @include breakpoint-md{
            background-image: url("/assets/images/home/dog-pregnancy-banner-img.webp");
        }
    }

    &__bottom-section{
        background: $clr-primary;
        height: rem(900);
        overflow: hidden;

        @include breakpoint-md{
            height: rem(965);
        }

        .dog-pregnancy__title{
            color:$clr-white;
            line-height: 0.88;
            position: relative;
            &::before{
                content: url("/assets/icons/stars.svg");
                position: absolute;
                left: 0;
                top:0;
                margin-left: -62px;
                margin-top: -96px;
                @include breakpoint-lg{
                    margin-left: 0;
                    margin-top: -80px;
                }
            }
            &::after{
                content: url("/assets/icons/paws.svg");
                position: absolute;
                top: 0;
                margin-left: -80px;
                margin-top: -116px;
                @include breakpoint-lg{
                    margin-top: -80px;
                }
            }
        }

        .dog-pregnancy__subTitle{
            color:$clr-white;
            max-width: 60ch;
            margin-inline:auto;
        }
    }

    .team-container{
        position: relative;
        margin-top: -320px;
    }
}

// ================================
.feedback{
    background: $clr-light-blue;
    &__right-container{
        display: flex;
        align-items: center;
    }
    &__footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__footer-inner{
        display: flex;
        align-items: center;
        gap:rem(28);
    }
}

// ================================
.testimonial{
    &__title{
        text-transform: uppercase;
        margin-top: 12px;
    }
}

// ================================
.follow-us{
    &__title{
        text-transform: uppercase;
    }
}

// ================================
.post-wrapper{
    @include flex-center-vertical;
}

// ================================
.video{
    &__container{
        position: relative;
    }
}

// ================================
.cta{
    margin-top: -1px;
    .cta-title{
        color:$clr-white;
        text-transform: uppercase;
    }
}


// Team
.team-member{
    .product__card-image {
        height: auto;
        padding:0;
    }
}


// services
.banner-section{
    position: relative;
    z-index: 1;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        background: $clr-white;
        z-index: -1;
    }
}

.included--item{
    @include relative-hidden;
    display: flex;
    margin-bottom: 16px;
    &::before{
        content:url("../../../assets/icons/paw-yellow.svg");
        margin-right: 14px;
    }
}



// Product-Details

.page-widgets-wrapper{
    ul{
        @include flex-center-vertical;
        gap:10px;
        li{
            position: relative;
            font-size: 16px;
            font-family: $ff-secondary;
            line-height: 1.75;
            &:not(:last-child){
                &::after{
                    content:"/";
                    margin-left: 10px;
                }
            }

            &.active{
                a{
                    color:$clr-secondary;
                    font-weight: 600;
                }
            }
           
        }
    }
}

// ------- Product Left Side ------------
.thumb-list{
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap:rem(8);
    margin-top: 28px;

    @include breakpoint-xl{
        margin:0 auto;
        flex-direction: column;
        gap:rem(14);
    }

    li{
        // @include dimensions(rem(80), rem(80));
        overflow: hidden;
        @include border-radius(12px);
        @include flex-center;
        border: 1px solid $clr-black;
        padding: 6px;
        cursor: pointer;
        @include breakpoint-md{
            @include dimensions(rem(120), rem(110));
            padding:1.25em;
        }
        @include breakpoint-lg{
            padding:1em;
        }
    }
}

.imgBox{
    overflow: hidden;
    @include border-radius(12px);
    @include flex-center;
    border: 1px solid $clr-black;
    background-color: $clr-quaternary;
    padding:2em;

    @include breakpoint-xl{
        width: min(100%, 740px);
        height: 735px;
    }

}


// ------- Product Right Side ------------
.product{
    &__details-top{
        .rating-wrapper{
            @include flex-center-vertical;
            gap:10px;
            text-transform: capitalize;
            small{
                font-size: 14px;
                line-height: 1;
                @include breakpoint-lg{
                    font-size: 16px;
                }
            }
        }

        .purity-list{
            @include flex-center-vertical;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-block:1.5em;
            gap:14px;

            li{
                @include flex-center-vertical;
                gap:10px;
                figure{
                    flex-shrink: 0;
                }
            }
        }
    }

    &__details-bottom{
        .offers-list{
            @include flex-center-vertical;
            flex-wrap: wrap;
            gap:16px;
            padding-block:1.5em;
            @include breakpoint-sm{
                gap:24px;
            }
            @include breakpoint-md{
                gap:28px;
            }
            @include breakpoint-lg{
                gap:32px;
            }
            @include breakpoint-xl{
                gap:48px;
            }
            @include breakpoint-xxl{
                gap:64px;
            }
            li{
                @include flex-center-vertical;
                gap:14px;
            }

            .coupon-code-wrapper{
                @include flex-center-vertical;
                gap: 8px;
                font-size: 16px;
                line-height: 1.75;

                .coupon-code-text{
                    font-weight: 600;
                    margin-top: 0;
                }
            }
        }

        .price-wrapper{
            @include flex-center-vertical;
            flex-wrap: wrap;
            @include breakpoint-sm{
                gap:10px;
            }

            span{
                font-size: 16px;
                line-height: 1.75;
                margin-top: 0;
                margin-left: 8px;
            }
            .discount-amount{
                text-decoration: line-through;
                color: $clr-grey-2;
            }

            .stock-count{
                font-style: italic;
                color:$clr-secondary;
            }
        }

        .wgt-options{
            @include flex-center-vertical;
            flex-wrap: wrap;
            gap:14px;
            @include breakpoint-sm{
                gap:16px; 
            }

            input[type="radio"]{
                display: none;
            }
        }

        .wgt-box{
            @include flex-center;
            @include border-radius(4px);
            border:1px solid $clr-black;
            padding:em(12) em(24);
            transition:all 0.35s ease;
            .wgt-option{
                font-size: 24px;
                line-height: 1;
                font-family:$ff-primary;
                color:$clr-black;
                cursor: pointer;
            }

            &:hover{
                cursor: pointer;
                border-color: $clr-secondary;
                background-color: $clr-secondary;
                .wgt-option{
                    color:$clr-white;
                }
            }
        }

        .btn-wrapper{
            @include flex-center-vertical;
            gap:16px;

            button{
                width: min(100%, 50%);
                font-size: 24px;
                font-family:$ff-primary;
                text-transform: uppercase;
                padding:0;
                line-height: 2;
                

                @include breakpoint-md{
                    font-size: 28px;
                }
                @include breakpoint-lg{
                    font-size: 32px;
                }
            }
        }

        .payment-options{
            @include flex-center-vertical;
            justify-content: flex-end;
            gap:16px;
            margin-top: 16px;
            @include breakpoint-sm{
                margin-top: 10px;
            }
        }
    }

}

.price-container{
    display: flex;
    align-items: center;
    gap:28px;

    .counter-wrapper{
        display: flex;
        align-items: center;
        gap:16px;
        @include border-radius(4px);
        border: solid 1px $clr-black;
        button{
            color:$clr-black;
            padding-inline:1em;
            @include border-radius(4px);
            &:hover{
                background-color:$clr-secondary;
                color:$clr-white;
            }
        }
    }
}


.purity-list{
    @include flex-center-vertical;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-block:1.5em;
    gap:14px;

    li{
        @include flex-center-vertical;
        gap:10px;
        figure{
            flex-shrink: 0;
        }
    }
}


