@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


// ? Products Page
.sort-container{
    display: none;
    @include breakpoint-lg{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap:4px;
    }

    label, .sort{
        font-size: 20px;
        line-height: 1.4;
        font-weight: 500;
        color:$clr-grey-3;
        font-family: $ff-secondary;
    }

    .sort{
        border:none;
        color:$clr-black;
    } 

    &--mobile{
        position: relative;
        border-left: 1px solid $clr-white;

        .custom-select-wrapper{
            position: fixed;
            left: 0;
            bottom:0;
            width: 100%;
            height: 300px;
            max-height: 260px;
            background-color: $clr-primary;
            @include border-radius(4px);
            box-shadow: 0 2px 5px rgba(255, 255, 255, .5);
            z-index: 12;

            transform: translateY(100%);
            transition: transform 0.35s ease;

            .sort-by-title{
                padding:1em;
                color:$clr-white;
                line-height: 1;
            }
            .custom-select{
                padding:1em;
                width: 100%;
                height: 100%;
            }
            .option-group{
                position: relative;
                overflow: hidden;
                input[type="radio"]{
                    display: none;
                }

                label{
                    color:$clr-white;
                    font-size: 18px;
                    line-height: 2.25;
                    font-family: $ff-secondary;
                    transform:translateY(-50px);
                    transition: transform 0.35s ease;
                }
            }

            &.active{
                transform: translateY(0%);

                .option-group{
                    label{
                         transform:translateY(0);
                    }
                }
                .divider-white{
                    width: 100%;
                    transition:widht 0.35s ease;
                }
            }
        }
    }
}

//? Product Fliter
.product-fliter-container{
    display: grid;
    @include breakpoint-lg{
        grid-template-columns: min(100%, 200px) 1fr;
        gap:20px;
    }
    @include breakpoint-xl{
        gap:32px;
        grid-template-columns: min(100%, 210px) 1fr;
    }
    @include breakpoint-xxl{
        gap:48px;
    }

    .filter-container{
        display: none;
        @include breakpoint-lg{
            display: block;
        }
    }
}


.filter-wrapper{
    padding-block:1em;

    .filter-label{
        @include flex-center-vertical;
        display: inline-flex;
        gap:6px;
        color:$clr-black;
        @include transition(all, 0.35s, ease);
        svg{
            @include transform-rotate(0deg);
            transform-origin: center;
            @include transition(transform, 0.35s, ease);
        }
        &:hover{
            cursor: pointer;
            p{
                color:$clr-secondary;
            }
            svg{
                path{
                    fill:$clr-secondary;
                }
            }
        }
    }
    
    .filter-options{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.35s ease;
    }

    .filter-option{
        @include flex-center-vertical;
        gap:10px;
        label{
            font-size: 16px;
            line-height: 2.25;
            color:$clr-grey-1;
            font-family: $ff-secondary;
            &:hover{
                cursor: pointer;
                color:$clr-black;
            }
        }
    }
}


.filter-label.active{
    p{
        color:$clr-secondary;
    }
    svg{
         @include transform-rotate(180deg);
        path{
            fill:$clr-secondary;
        }
    }
}


//? Search field
.search-group{
    display: flex;
    align-items: center;
    border:1px solid $clr-black;
    @include border-radius(4px);
    padding-left:0.8em;

    .form__control{
        border:none;
        outline: none;
        color:$clr-black;
        padding:0.65em;
        &::placeholder{
            color:$clr-black;
        }

  
    }

}


// Product-Details Page Styles Start
.page-widgets-wrapper{
    ul{
        @include flex-center-vertical;
        gap:16px;
        justify-content: center;

        @include breakpoint-lg{
            justify-content: flex-start;
        }
        li{
            position: relative;
            font-size: 16px;
            font-family: $ff-secondary;
            line-height: 1.75;
            &:not(:last-child){
                &::after{
                    content:"/";
                    margin-left: 10px;
                }
            }

            &.active{
                a{
                    color:$clr-secondary;
                    font-weight: 600;
                }
            }
           
        }
    }
}

// ------- Product Left Side ------------
.thumb-list{
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap:rem(8);
    margin-top: 28px;

    @include breakpoint-xl{
        margin:0 auto;
        flex-direction: column;
        gap:rem(14);
    }

    .thumb-img{
        overflow: hidden;
        @include border-radius(12px);
        @include flex-center;
        border: 1px solid $clr-black;
        padding: 6px;
        // opacity: 0.6;
        transition: all 0.25s ease;
        @include breakpoint-md{
            @include dimensions(rem(120), rem(110));
            padding:1.25em;
        }
        @include breakpoint-lg{
            padding:1em;
        }
        &:hover{
            cursor: pointer;
            // opacity: 1;
        }

        // &.active{
        //     opacity: 1;
        //     border-color: $clr-secondary;
        // }
    }
}



.main-imgBox{
    overflow: hidden;
    @include border-radius(12px);
    @include flex-center;
    border: 1px solid $clr-black;
    background-color: $clr-quaternary;
    padding:2em;

    @include breakpoint-xl{
        width: min(100%, 740px);
        height: 735px;
    }

}

// ------- Product Right Side ------------
.product{
    &__details-top{
        .rating-wrapper{
            @include flex-center-vertical;
            gap:10px;
            text-transform: capitalize;
            small{
                font-size: 14px;
                line-height: 1;
                @include breakpoint-lg{
                    font-size: 16px;
                }
            }
        }

        .purity-list{
            @include flex-center-vertical;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-block:1.5em;
            gap:14px;

            li{
                @include flex-center-vertical;
                gap:10px;
                figure{
                    flex-shrink: 0;
                }
            }
        }
    }

    &__details-bottom{
        .offers-list{
            @include flex-center-vertical;
            flex-wrap: wrap;
            gap:16px;
            padding-block:1.5em;
            @include breakpoint-sm{
                gap:24px;
            }
            @include breakpoint-md{
                gap:28px;
            }
            @include breakpoint-lg{
                gap:32px;
            }
            @include breakpoint-xl{
                gap:48px;
            }
            @include breakpoint-xxl{
                gap:64px;
            }
            li{
                @include flex-center-vertical;
                gap:14px;
            }

            .coupon-code-wrapper{
                @include flex-center-vertical;
                gap: 8px;
                font-size: 16px;
                line-height: 1.75;

                .coupon-code-text{
                    font-weight: 600;
                    margin-top: 0;
                }
            }
        }

        .price-wrapper{
            @include flex-center-vertical;
            flex-wrap: wrap;
            @include breakpoint-sm{
                gap:10px;
            }

            span{
                font-size: 16px;
                line-height: 1.75;
                margin-top: 0;
                margin-left: 8px;
            }
            .discount-amount{
                text-decoration: line-through;
                color: $clr-grey-2;
            }

            .stock-count{
                font-style: italic;
                color:$clr-secondary;
            }
        }

        .wgt-options{
            @include flex-center-vertical;
            flex-wrap: wrap;
            gap:14px;
            @include breakpoint-sm{
                gap:16px; 
            }
        }

        .wgt-box{
            input[type="radio"]{
                display: none;
            }
        }

        .wgt-option{
            @include flex-center;
            @include border-radius(4px);
            border:1px solid $clr-black;
            padding:em(12) em(24);
            transition:all 0.35s ease;
            font-size: 24px;
            line-height: 1;
            font-family:$ff-primary;
            color:$clr-black;
            &:hover{
                cursor: pointer;
                border-color: $clr-secondary;
                background-color: $clr-secondary;
                color:$clr-white;
            }
        }

        .btn-wrapper{
            @include flex-center-vertical;
            gap:16px;

            button{
                width: min(100%, 50%);
                font-size: 24px;
                font-family:$ff-primary;
                text-transform: uppercase;
                padding:0;
                line-height: 2;
                

                @include breakpoint-md{
                    font-size: 28px;
                }
                @include breakpoint-lg{
                    font-size: 32px;
                }
            }
        }

        .payment-options{
            @include flex-center-vertical;
            justify-content: flex-end;
            gap:16px;
            margin-top: 16px;
            @include breakpoint-sm{
                margin-top: 10px;
            }
        }
    }
}

.price-container{
    display: flex;
    align-items: center;
    gap:28px;

    .counter-wrapper{
        display: flex;
        align-items: center;
        gap:16px;
        @include border-radius(4px);
        border: solid 1px $clr-black;
        button{
            color:$clr-black;
            padding-inline:1em;
            @include border-radius(4px);
            &:hover{
                background-color:$clr-secondary;
                color:$clr-white;
            }
        }
    }
}


.purity-list{
    @include flex-center-vertical;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-block:1.5em;
    gap:14px;

    li{
        @include flex-center-vertical;
        gap:10px;
        figure{
            flex-shrink: 0;
        }
    }
}


input[type="radio"]:checked + .wgt-option{
    border-color: $clr-secondary;
    background-color: $clr-secondary;
    color:$clr-white;
}
// Product-Details Page Styles End