@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.service{
    &__card{
        img{
            @include border-radius(12px);
        }
    }
    &__card-body{
       margin:0 auto;
       text-align: center;
       padding:1em; 
       @include breakpoint-sm{
            padding:1.25em 1.5em; 
       }
       @include breakpoint-xl{
            padding:2em; 
       }
    }
}

.pet-boarding {
    max-width: none;
    margin-inline: rem(16);
    @include breakpoint-md{
        max-width: 90%;
        margin-inline:auto;
    }

    .card{
        @include border-radius(12px);
        border: solid 2px $clr-black;
        background-color: $clr-quaternary;
        
        &__header,
        &__body{
            padding: 1.85em 1em;
            @include breakpoint-sm{
                padding: 1.85em 1.5em;
            }
        }
        &__header{
            @include flex-space-between;
            padding-bottom: 1em;
            small{
                margin-top: 0;
            }
        }
        &__body{
            a{
                font-size: rem(24);
                font-family: $ff-primary;
                line-height: 1.33;
                gap:rem(16);

                span{
                    &:first-child{
                        margin-top: rem(5);
                        text-decoration: underline;
                        text-decoration-color: $clr-secondary;
                    }
                }

                &:hover{
                    svg{
                        path{
                            fill:$clr-primary;
                        }
                    }
                    span{
                        &:first-child{
                            text-decoration-color: $clr-primary;
                        }
                    }
                }
            }
        }
        &__list{
            li{
                position: relative;
                font-size: rem(16);
                line-height: 1.75;

                &::before{
                    content: url("../../../assets/icons/checked.svg");
                    margin-right: 6px;

                }
            }
        }
    }
}

.steps-grid{
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: rem(64);
    z-index: 1;
    @include breakpoint-sm{
        grid-template-columns: repeat(2, 1fr);
        gap: rem(64);
    }
    @include breakpoint-lg{
        grid-template-columns: repeat(4, 1fr);
        gap: rem(32);
    }
    @include breakpoint-xl{
        gap: rem(48);
    }
    @include breakpoint-xxl{
        gap: rem(144);
    }

    @media only screen and (min-width:em(992)) and (max-width:em(1599.98)){
        &::before{
            content:"";
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 2px;
            margin-top: rem(48);
            background-image: repeating-linear-gradient(
                to right, 
                #000 0, 
                #000 4px, /* Dot size */
                transparent 4px,
                transparent 10px /* Space between dots */
            );
            z-index: -1;
        }
    }

    @include breakpoint-xxl{
        &::before{
            content: url("../assets/icons/dotted-line.svg");
            position: absolute;
            top: 32px;
            left: 0;
            width: 100%;
            margin-inline: auto;
            text-align: center;
        }
    }
}

.first,
.last{
    position: relative;
    z-index: 1;
}

.first{
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 4%;
        width: 50%;
        height: 20%;
        background: $clr-white;
        z-index: -1;
        @media (min-width: em(1900)){
            display: none;
        }
    }
  
}

.last{
    &::after{
        content: "";
        position: absolute;
        right: 0;
        top: 4%;
        width: 50%;
        height: 20%;
        background: $clr-white;
        z-index: -1;
        @media (min-width: em(1900)){
            display: none;
        }
    }
}



.steps{
    &__container{
        position: relative;
    }
    &__card{
        margin:0 auto;
        text-align:center;
        figure{
            margin-bottom: rem(20);
            position: relative;
            img{
                margin:0 auto;
                text-align:center;
            }
        }
    }
}

.book-appointment-link{
    span{
        &:nth-child(1){
            text-decoration: underline;
            font-family: $ff-primary;
            text-decoration-color: $clr-secondary;
        }
    }
    &:hover{
        svg{
            path{
                fill:$clr-primary;
            }
        }
        span{
            &:nth-child(1){
                text-decoration-color: $clr-primary;
            }
        }
    }
}


.price-table{
    width: 100%;

    tr,th{
       display: flex;
       justify-content: space-between;
       background: $clr-quaternary;
    }

    tr{
        padding-inline:1em; 
        @include breakpoint-md{
            padding-inline:2em; 
        }
        @include breakpoint-md{
            padding-inline:3em; 
        }
    }

    &__head{
        tr{
            padding-block: em(24);
            border: 2px solid  $clr-black;
            @include border-radius(12px);
            @include breakpoint-md{
                padding-block: em(28);
            }
        }

        th{
            font-size: rem(20);
            line-height: 1;
            font-family: $ff-primary;
            text-transform: uppercase;
            @include breakpoint-sm{
                font-size: rem(24);
            }
            @include breakpoint-md{
                font-size: rem(28);
            }
        }
    }

    &__body{
        tr{
            border: 1px solid  $clr-black;
            @include border-radius(4px);
            padding-block:em(10);
            margin-block:rem(8);
            &:nth-child(odd){
                background: $clr-quaternary-2;
            }
        }
        td{
            font-size: rem(16);
            line-height: 1.56;
            font-family: $ff-secondary;
            color:$clr-black;
            @include breakpoint-sm{
                font-size: rem(18); 
            }
        }

    }
}